# Project Guidelines

## Documents to check

Check the following documents before executing any task:

- `README.md` -- Project overview and tech stack
- `DB_SCHEMA.md` -- Database schema plan

## TypeScript guidelines

- Use `pnpm` for package management instead of `npm` or `yarn`.
- Types should be defined in the `src/shared/schemas.ts` file.
- Use `zod` for schema validation.
- The types should be defined first as `zod` schemas, and then converted to TypeScript types using `z.infer`.

## Overall guidelines

- DO NOT implement any shortcuts or workarounds, even if they seem easier or faster.
- DO NOT implement any features that can be considered "nice to have" or "bonus".
- Search for existing libraries or packages before implementing any new functionality.
